<!-- Toolbar -->
<header>
<div class="upper_header_part">
  <a href="https://unsplash.com/" class="main_link">
    <div class="logo_block">
      <div id="left_logo">
        <img width="59" alt="Unsplash Logo" id="logo_image"
          src="https://d25hn4jiqx5f7l.cloudfront.net/companies/logos/original/unsplash_1544812782.jpg?1544812782" />
      </div>
      <div class="logo_text">
        <div class="logo_text_upper">Unsplash</div>
        <div class="logo_text_lower">Photos for everyone</div>
      </div>
    </div>
  </a>

  <form class="search_field">
    <button class="search_button"><i class="fas fa-search"></i></button>
    <input type="search" placeholder="Search free high-resolution photos" class="input_field">
    <input type="search" placeholder="Search photos" class="input_field_small">
  </form>

  <ul class="menu upper_menu">
    <li> <a class="topics_link" href="https://unsplash.com/t">Topics</a></li>
    <li><a class="explore_link" href="https://unsplash.com/explore">Explore</a></li>
    <li><a class="collapse_menu" href="#">...</a></li>
    <li><a class="submit_link" href="#">Submit a photo</a></li>
    <li><a class="submit_link_small" href="#">Submit</a></li>
    <li><a class="login_link" href="#">Login</a></li>
    <li> <a class="join_link" href="https://unsplash.com/join" rel="nofollow">Join free</a></li>
  </ul>
</div>
<div class="lower_header_part">
  <div class="featured">Featured</div>
  <div>
    <ul class="menu lower_menu">
      <li class="editorial"><a href="#">Editorial</a></li>
      <li><a href="#">Sustainability</a></li>
      <li><a href="#">Wallpapers</a></li>
      <li><a href="#">COVID-19</a></li>
      <li><a href="#">Travel</a></li>
      <li class="hide_480"><a href="#">Nature</a></li>
      <li class="hide_480"><a href="#">Textures &amp; Patterns</a></li>
      <li class="hide_480"><a href="#">Current Events</a></li>
      <li class="hide_480 hide_767"><a href="#">People</a></li>
      <li class="hide_480 hide_767"><a href="#">Business &amp; Work</a></li>
      <li class="hide_480 hide_767"><a href="#">Technology</a></li>
      <li class="hide_480 hide_767"><a href="#">Animals</a></li>
      <li class="hide_480 hide_767"><a href="#">Interiors</a></li>
      <li class="hide_480 hide_767"><a href="#">Architecture</a></li>
      <li class="hide_480 hide_767"><a href="#">View all</a></li>
    </ul>
  </div>
</div>
</header>

<div class="content" role="main">
  <div class="search_module">

    <app-search></app-search>
  </div>

  <div class="results_module">

    <app-results></app-results>

  </div>

  <!-- Footer -->
  <footer>

  </footer>

</div>
