header {
  margin-bottom: 20px;
}

.upper_header_part {
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: black;
  margin-bottom: 10px;
  padding-top: 10px;
}

.logo_block {
 margin-right: 15px;
  display: flex;
  flex-direction: row;
  font-family: Helvetica, Arial, sans-serif;
}

.logo_text {
  margin-top: 10px
}

.logo_text_upper {
  font-weight: 600;
}

.logo_text_lower {
  font-weight: lighter;
  font-size: smaller;
}

.main_link:visited {
  color: #000;
}

.search_field {
  display: flex;
  flex-direction: row;
  border: transparent 0.1px solid;
  border-radius: 24px;
  height: 40px;
  width: 730px;
}

.search_field:hover {
  border: solid rgb(206, 200, 200) 0.1px;
}


.search_button {
  border: none;
  padding-left: 14px;
  background-color: #eee;
  border-radius: 24px 0 0 24px;
  color: gray;
}

.search_button:hover {
  color: black;
}

.search_button:focus {
  outline: none;
}

.input_field {
  width: 400px;
 border: none;
 flex-grow: 2;
 background-color: #eee;
 border-radius: 0 24px 24px 0;
 font-size: 0.9em;
}

.input_field_small {
  width: 70%;
 border: none;
 flex-grow: 2;
 background-color: #eee;
 border-radius: 0 24px 24px 0;
 font-size: 0.9em;
 display: none;
}
input:focus {
  outline: none;
}

.menu li a{
  font-family: Helvetica, Arial, sans-serif;
  color: #767676;
  font-size: 14px;
}

.menu li a:hover {
color: #000;
}

.menu li {
  display: inline;
  padding: 2px 15px;

}

a:link {
  text-decoration: none;
}

.collapse_menu {
  font-weight: 700;
}

.submit_link {
  border: solid 1px #bdb8b8;
  border-radius: 7%;
  padding: 7px;
}

.submit_link_small {
  border: solid 1px #bdb8b8;
  border-radius: 7%;
  padding: 7px;
  display: none;
}

.login_link {
  padding: 10px 0 10px 22px;
  border-left: solid 1px #767676;
}

.join_link {
  border: none;
  border-radius: 4px;
  background-color: #3cb46e;
  color: #fff!important;
  padding: 8px 12px;
}

.lower_header_part {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}

.featured {
  font-size: 9px;
  text-transform: uppercase;
  margin-left: 123px;
  margin-bottom: -15px;
  color: #767676;
}

.editorial {
  border-right: solid 1px black;
  padding-left: 0px !important;

}

.search_module {
  height: 550px;
  background: url(https://images.unsplash.com/photo-1594878462445-84cdf4a789d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
  background-repeat: no-repeat;
}

.results_module {
  height: 100px;
  background-color: lightgreen;
}

/* Responsive Styles */

@media screen and (max-width: 480px) {
  .logo_text {display: none; }
  .search_field {width: 80%;}
  .upper_menu {display: none;}
  .input_field {display: none;}
  .input_field_small {display: inline; width: auto;}
  .lower_menu .hide_480 {display: none;}
  .lower_menu li {padding: 0 5px;}

}

@media screen and (max-width: 767px) {
  .logo_text {display: none; }
  .search_field {width: 70%;}
  .upper_menu {display: none;}
  .input_field {display: none;}
  .input_field_small {display: inline;}
  .lower_menu .hide_767 {display: none;}
  .lower_menu li {padding: 0 5px;}

}

@media screen and (max-width: 1023px) {
.search_field {width: 20%;}
.input_field {display: none;}
.input_field_small {display: inline;}
.submit_link {display: none;}
.submit_link_small {display: inline;}
.menu li {padding: 0 6px;}
}
