<div class="main_search_element">
  <div class="text">
    <h1 class="title">Unsplash</h1>
    <p class="text_center"> The internet’s source of <a class="license"
        href="https://unsplash.com/license">freely-usable images</a>.
    </p>
    <p class="text_center">Powered by creators everywhere.</p>
  </div>

  <form class="search_form" autocomplete="on">
    <button class="search_button"><i class="fas fa-search"></i></button>
    <input class="input_field" type="search" id="autocomplete" placeholder="Search free high-resolution photos">
  </form>
  <div class="trending">Trending:
    <a class="trending_link" href="https://unsplash.com/images/nature/flower">flower</a>,
    <a class="trending_link" href="https://unsplash.com/wallpapers">wallpapers</a>,
    <a class="trending_link" href="https://unsplash.com/backgrounds">backgrounds</a>,
    <a class="trending_link" href="https://unsplash.com/images/feelings/happy">happy</a>,
    <a class="trending_link" href="https://unsplash.com/images/feelings/love">love</a>
  </div>
</div>
