.title {
  text-align: center;
  padding: 20px;

}

.search_form {
  text-align: center;
}

.search_button {
  padding: 20px;
  border: none;
  background-color: white;
}

.input_field {
  width: 700px;
  padding: 20px;
  border: none;
  background-color: white;
  flex-grow: 2;
}
